.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.visited{
    background-color:rgb(33, 30, 53) ;
}
.non-visited{
    background-color: darkslategrey;
}